<!DOCTYPE html>
<html>
	<head>
		<title>ChitChatt'r</title>
		<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
		<link href="http://fonts.googleapis.com/css?family=Josefin+Slab:300italic,300,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header class="homebanner">
				<h1 class="homebannertext">
					<a href="http://tutorialzine.com/2014/03/nodejs-private-webchat/" id="logo"><span>C</span>hit<span>C</span>hatt<span>'</span>r</a>
				</h1>
				<h3 class="homebannercatchphrase">Where the Small meets Talk</h3>
		</header>
		<section>
			<div class="homesection">
				<div class="node">
					<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
					<h2 id="chat">The ultimate real time!</h2>
				</div>
				<a title="Private Room" href="/create" id="createprivate">
					<div id="createprivatebutton">
						<div id="big">SMALL-TALK</div>
						<div id="little">Private Room</div>
					</div>
				</a>
				<a title="Group Room" href="/create" id="creategroup">
					<div id="creategroupbutton">
						<div id="big">CHIT-CHAT</div>
						<div id="little">Group Room</div>
					</div>
				</a>
				<div class="tutorial">
					<a title="Download the source code." href="http://tutorialzine.com/2014/03/nodejs-private-webchat/" id="tutorial">
						or download a copy of the source code here
					</a>
				</div>
			</div>
		</section>
	</body>
</html>

